body {
    background-color: #dcdcdc;
    text-align: center;
    position: relative;
    top: 400px;
}

.loginForm {
    background-color: white;
    border-radius: 15px;
    width: 583px;
    height: 675px;
    margin: -220px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm .form-remember {
    margin-right: 77px;
}