body {
    background-color: #dcdcdc;
    text-align: center;
    position: relative;
    top: 320px;
}

.input-form {
    background-color: white;
    border-radius: 15px;
    width: 483px;
    height: 575px;
    margin: -220px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form .remember-form {
    /* margin-right: 77px; */
}